@use "sass:meta";
/* ----------------------------------------- */
/* Configuration
/* ----------------------------------------- */

$primary-color: #40450a !default;
$secondary-color: #825e4a !default; /* used for mini headers, alternate primary color */
$tertiary-color: #e9d7a1 !default; /* compliments the primary color, usually used in combination */
$alt-color: #786452; /* for all other uses */
$alt-dark: #443730;
$background-color: #f8f4f1 !default;
$light-color: #697119 !default;
$body-color: #1c1c1c;
$sub-color: #605856;
$background-highlight: rgb(255 255 255 / 25%) !default;
$journal-h1-color: #ede4db;

$sidebar-title-color: #f7d488;
$sidebar-label: #ffefbd;

/* Window Settings */
$window-title-bg: #121820;
$window-bg: $background-color;

/* Headers w/ boxes */
$header-color: #fff; /* Font Color */
$header-bg: $secondary-color;

/* Font Families */
$sans-serif: 'Roboto', system, -apple-system, sans-serif !default;
$serif: 'Signika', Georgia, serif !default;
$body-serif: 'Gelasio', 'Signika', Georgia, serif !default;

/* Buttons */
$btn-text: $tertiary-color !default;
$btn-color: $primary-color !default;
$btn-radius: 0 !default;
$btn-frame: $tertiary-color !default;

$btn-color: #8e0317 !default;
$btn-radius: 0 !default;

/* ----------------------------------------- */
/* Fonts
/* ----------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Tauri|Teko:500|Changa+One|DM+Serif+Text:400i&display=swap');

@font-face {
	font-family: 'CrushYourEnemies';
	src: url('../fonts/crushyourenemies-modded.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Norse';
	src: url('../fonts/Norse.otf') format('opentype');
}

@font-face {
	font-family: 'Norsebold';
	src: url('../fonts/Norsebold.otf') format('opentype');
}

@include meta.load-css('ui/icon-font');

// .crushy {
//   font-family: 'CrushYourEnemies', 'Martel', 'Roboto', serif;
//   font-size: 18px;
// }

/* ----------------------------------------- */
/* Global Settings
/* ----------------------------------------- */

:root {
	--primary: #{$primary-color};
	--secondary: #{$secondary-color};
	--tertiary: #{$tertiary-color};
	--alt: #{$alt-color};
	--alt-dark: #{$alt-dark};
	--light: #{$light-color};
	--bg: #{$background-color};
	--sub: #{$sub-color};
	--btn-color: #{$btn-color};
	--btn-radius: #{$btn-radius};
	--header-color: #{$header-color};
	--header-bg: #{$header-bg};
	--body: #{$body-color};
	--window-bg: #{$window-bg};
	--background-highlight: #{$background-highlight};

	--sidebar-label: #{$sidebar-label};
	--sidebar-title: #{$sidebar-title-color};

	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}

body {
	font-family: $sans-serif;
	color: var(--body);
}

/* ----------------------------------------- */
/* Layout
/* ----------------------------------------- */

$padding: 0.5em;
$margin: 0.5em;

.grid {
	display: grid;
	grid-template-rows: 1fr;
}

.flex {
	display: flex;
}

/* ----------------------------------------- */
/* Typography
/* ----------------------------------------- */

h1,
h2,
h3,
h4 {
	font-weight: 600;
}
p {
	font-weight: 500;
}

@mixin micro {
	font-family: $sans-serif;
	font-size: 9px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.25px;
}

a[href] {
	color: var(--primary);
}

::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 3px;
	background: var(--light);
	border: 1px solid #949f19;
}
/* ----------------------------------------- */
/* Forms
/* ----------------------------------------- */
.editor {
	height: 100%;
	width: 100%;

	.mce-content-body {
		height: 200px;
		position: fixed;
	}
}

.tox {
	.tox-editor-container {
		.tox-editor-header {
			.tox-toolbar-overlord {
				background: none;
				.tox-toolbar {
					&__primary {
						background: none;
						box-shadow: inset 0 0 0 1px rgba(white, 0.3);
						height: 100%;
					}
					&__group {
						flex-wrap: nowrap;
					}
				}
			}
		}
	}

	.tox-tbtn {
		background: none;
		color: white;
		border-radius: 1px;
		&__select-chevron {
			svg {
				fill: rgba(black, 0.5);
			}
		}

		svg {
			fill: rgba(black, 0.5);
		}

		&:hover {
			background: var(--secondary);

			svg {
				fill: white;
			}
		}
	}
}

.app.sheet .editor:not(.prosemirror) {
	min-height: 55px;
	height: 100%;

	.editor-content {
		height: 100%;
	}
	.tox-tinymce {
		min-height: 200px;
		height: 100%;
	}
}

$pause-h: 150px;
$pause-w: 150px;

#pause {
	background: none;

	&>img {
		content: url("../assets/icons/phoenix-sigil.svg");
		width: $pause-w;
		height: $pause-h;
		top: -25px;
		left: calc(50% - ($pause-w * .5));
		opacity: .8;
		--fa-animation-duration: 5s;
		filter: drop-shadow(0px 0px 8px red) saturate(4);
		-webkit-animation-name: fa-spin;
		animation-name: fa-beat;
	}

	& figcaption {
		font-family: 'CrushYourEnemies';
		font-size: 1.75em;
		text-shadow: 0px 0px 4px black;
	}
}
