.header-bar {
	display: flex;
	background-image: url('../assets/sheet/attribute-block-header.png');
	background-size: 100% 100%;
	box-shadow: 0 0 5px #000;
	text-transform: uppercase;
	padding: 4px;
	margin: 4px;

	.item-controls {
		float: right;
		font-size: 13px;

		.item-control {
			color: #c0c0c0;

			&:hover {
				text-shadow: 0 0 4px var(--sidebar-title);
				color: white;
			}
		}
	}
}

.item-table {
	margin-left: 8px;
	margin-right: 8px;
}
