@mixin gold-border {
	box-shadow:
		0 0 0 1px #9f725b,
		0 0 0 2px var(--tertiary),
		0 0 0 3px #956d58;
}

@mixin inset-gold-border {
	border: none;
	box-shadow:
		inset 0 0 0 1px #9f725b,
		inset 0 0 0 2px var(--tertiary),
		inset 0 0 0 3px #956d58;
}

@mixin frame-glow {
	box-shadow: 0 0 10px var(--sidebar-title);
}

@mixin brown-border {
	border: none;
	box-shadow:
		0 0 0 1px #918c88,
		0 0 0 2px #e1d8cf,
		0 0 0 3px #a98f39,
		inset 0 0 8px rgba(0,0,0,0.5),
		0 0 8px black;
}
