@use "../globals";
@use "../mixins/forms";
@use "../mixins/layout";

/* ----------------------------------------- */
/*  Item Sheet Structure
/* ----------------------------------------- */
.item {
	.editor {
		height: 100%;
		width: calc(100% - 10px);
		padding-left: 10px;

		.editor-edit {
			background: var(--secondary);
			color: white;
		}
	}

	form {
		background: url(../assets/parchment.jpg);
		background-attachment: local;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.sheet-header {
			border-bottom: 1px solid var(--secondary-background);
			flex: 0 0 70px;
			width: 100%;
			padding-bottom: 6px;

			h1 {
				font-family: CrushYourEnemies;
			}

			input[type=text] {
				text-overflow: ellipsis;
			}

			img {
				flex: 0 0 64px;
				margin: 4px;
			}
		}

		.sheet-content {
			display: grid;
		}

		.sheet-content-has-sidebar {
			display: grid;
			grid-template-columns: 2fr 3fr;
		}

			.sheet-sidebar {
				height: 390px;
				background: rgba(0, 0, 0, 0.05);

				.sidebar-summary {
					line-height: 29px;
					margin: 0 0 0.5em;
					text-align: center;
					border-bottom: 1px groove;
				}

				.item-summary {
					line-height: 28px;
					text-align: center;
					font-family: 'Nodesto', 'Signika', 'Palatino Linotype', serif;
					font-size: 18px;
					color: #444;
				}

				.item-tags {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: stretch;
					justify-content: flex-start;
					.tag {
						display: inline-flex;
						flex-wrap: nowrap;
						color: white;
						background-color: var(--light);
						@include globals.micro;
						border: none;
						border-radius: 2px;
						padding: 3px 4px;
						margin-bottom: 2px;
						box-shadow: inset 0 0 0 1px rgba(black, 0.5);
						& + .tag,
						&:first-child {
							margin-right: 3px;
						}
						&.edit-btn {
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: white;
							border-radius: 0;
							a {
								display: inline-flex;
								justify-content: center;
								align-items: center;
								color: var(--light);
								svg {
									height: 9px;
									width: auto;
								}
							}
						}
					}
				}

				.inventory-details {
					flex: 0;

					label {
						font-weight: bold;
					}

					.form-group input {
						text-align: left;
						flex: 2.35;
						margin-right: 5px;
					}
				}

				.item-details {
					padding: 8px 8px 0;
					overflow-y: auto;

					label {
						color: #888;
						font-weight: bold;
						padding-right: 8px;
					}
				}
			}

			.sheet-body {
				flex: 2;
				height: 350px;
			}

		.sheet-body input[type=text] {
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid #aaa;
			padding: 3px;
			width: 30px;
		}

		.sheet-body input[type=number] {
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid #aaa;
			padding: 3px;
			width: 30px;
		}

		.spell-sheet-body {
			flex: 2;
			height: 350px;
		}

		.spell-sheet-body input[type=text] {
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid #aaa;
			padding: 3px;
			width: 100%;
		}

		.spell-table {
			height: 350px;
			overflow: scroll;
		}

		.spell-description {
			height: 250px;
			padding: 5px;
		}

		.spell-details {
			padding: 10px;
		}

		textarea {
			width: 100%;
			line-height: 15px;
			min-width: 100%;
			max-width: 100%;
			transition: width 0.25s;
			resize: none;
			font-family: inherit;
		}

		.effect-type {
			width: 130px;
			padding: 1.5px;
		}

		.effect-alt {
			padding: 1.5px;
		}

		.effect-value {
			padding: 1.5px;
		}

		.effect- .tab {
			padding-left: 10px;
		}

		.tab[data-tab] {
			display: none;
			&.active {
				display: initial;
			}
		}

		.tab[data-tab].active {
			display: initial;
		}

		.tab[data-tab='description'] {
			height: 100%;
		}

		.form-list {
			border: 1px solid var(--secondary-background);
			border-radius: 5px;
			padding-left: 2px;
			padding-right: 4px;
		}

		.form-group {
			@include layout.p-reset;
			padding: 4px;
			align-self: baseline;

			input:focus {
				border-bottom: 1px solid #644f33;
			}

			input[type=checkbox] {
				vertical-align: middle;
				position: relative;
				bottom: 1px;
			}

			input[type=number] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				padding: 3px;
			}

			input[type=text] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #aaa;
				padding: 3px;
			}

			input::placeholder {
				color: var(--primary);
				font-style: italic;
				opacity: 0.4;
			}

			label {
				font-weight: bold;
				display: block;
			}

			.setting-grid {
				display: grid;
				grid-template-columns: minmax(min-content, max-content) 3fr;
				row-gap: 8px;
				column-gap: 8px;
			}
		}

		.base-damage {
			display: grid;
			grid-template-columns: 1fr 24px;
			column-gap: 4px;
			width: calc(100% - 8px);

			.combat-dice {
				background-image: url('../assets/icons/phoenix-sigil.svg');
				filter: brightness(0) sepia(0) saturate(5);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}


		.sheet-tabs {
			border-bottom: 1px solid var(--secondary-background);
			margin: 0px;

			a {
				color: black;
				font-family: Norsebold;
				font-size: 26px;
				padding: 1px 0;

				&.active {
					@include forms.input-glow-red;
					text-decoration: underline;
				}

				&:hover {
					@include forms.input-glow-red;
					background-color: transparent;
					cursor: pointer;
				}
			}
		}

		.co-value {
			background: #fff;
			border: 1px solid var(--tertiary-background);
			text-align: center;
		}

		.co-large {
			height: 40px;
		}

		.details-container {
			display: grid;
			grid: 'dice die type' / 40px 60px auto;
		}

		.effects-container {
			display: grid;
			grid: 'effect number' / auto 40px;
		}

		.details-container-two-columns {
			display: grid;
			grid: 'size type' / 50% 50%;
		}

		.details-container-three-columns {
			display: grid;
			grid-template-columns: 0.4fr 1fr 1fr;
		}

		.consumable-details {
			flex: 0 0 24px;

			label {
				font-weight: bold;
			}

			input {
				flex: 0 0 24px;
				margin-right: 6px;
				text-align: right;
			}

			span {
				line-height: 24px;
			}

			.max-charges {
				flex: 0 0 16px;
				text-align: center;
			}
		}

		.consumable-charges {
			label {
				flex: 0 0 144px;
			}

			input {
				flex: 0 0 64px;
				text-align: center;
			}

			span.flex0 {
				line-height: 24px;
			}
		}

		.tool-details {
			border-top: 1px solid var(--secondary-background);
			padding-top: 10px;

			.form-group-stacked {
				margin-bottom: 8px;
			}
		}

		.feat-uses {
			select {
				flex: 2;
				margin-right: 5px;
			}

			input {
				flex: 1;
				text-align: center;
			}

			span.sep {
				flex: 0 0 16px;
				line-height: 24px;
				font-size: 14px;
				text-align: center;
			}
		}

		.uuid-link {
			margin: 4px;
		}

		.fake-uuid-link {
			background: #DDD;
			padding: 1px 4px;
			border: 1px solid var(--color-border-dark-tertiary);
			margin: 4px;
			border-radius: 2px;
			white-space: nowrap;
			word-break: break-all;

			&:hover {
				cursor: auto;
				text-shadow: none;
			}
		}

		.delete-choice {
			color: darkred;

			&:hover {
				@include forms.input-glow-red;
				background-color: transparent;
				cursor: pointer;
			}
		}

		.requirement-table {
			padding-left: 8px;
			padding-right: 8px;
		}

		.requirement-row:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}

.form > * {
	flex: 1;
}

.form .sheet-content > * {
	flex: 1;
}
.form .sheet-sidebar > * {
	flex: 1;
}
