@use "../../mixins/layout";

.npc-sheet-attributes {

	@include layout.p-reset;
	margin-bottom: 4px;
	text-align: center;

	input[type=number] {
		text-align: center;
		border: none;
		width: 100%;

		&::placeholder {
			color: black;
		}
	}

	&__3-column-grid {
		@include layout.p-reset;
		display: grid;
		column-gap: 3px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__4-column-grid {
		@include layout.p-reset;
		display: grid;
		column-gap: 3px;
		grid-template-columns: repeat(4, 1fr);
	}

	.inhuman-value {
		text-align: center;
		height: 24px;
		margin: 0;
		background: rgba(0, 0, 0, 0.05);
		font-size: inherit;
	}

	.rollable:hover {
		cursor: pointer;
		text-shadow: 0 0 10px red;
	}
}
