.npc-health {

	input[type=number] {
		text-align: center;
		border: none;
		width: 100%;

		&::placeholder {
			color: black;
		}
	}

	&__grid {
		display: grid;
		gap: 3px 3px;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		margin-bottom: 3px;
	}

	&__entry {
		display: flex;
	}

	&__score {
		display: flex;
		color: black;
		align-items: center;
	}
}
