@use "../../mixins/forms";

.npc-mob {
	&-grid {
		display: grid;
		grid-template-rows: auto;
	}

	&-member {
		display: grid;
		width: 259px;
		height: 239px;
		grid-template-rows: 1fr auto;
		border: 1px solid #53422a;
		row-gap: 4px;

		&-portrait {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 4px;
			margin-bottom: 2px;

			&__image {
				align-self: center;
				border: none;
				width: 115px;
				height: 115px;
				grid-row: span 2;
			}
		}

		&-health {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 4px;

			&__label {
				margin: 0;
				padding: 0;
				background: #40450a;
				color: white;
				width: 100%;
				padding-top: 3px;
				padding-bottom: 4px;
				text-align: center;
			}

			&__score {
				text-align: center;
			}
		}

		&-wounds {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&-members {
		display: grid;
		width: 530px;
		height: 490px;
		grid-template-columns: 1fr 1fr;
		column-gap: 12px;
		row-gap: 12px;

		&__warning {
			grid-column: span 2;
			font-style: italic;
			font-weight: bold;
			font-size: 16px;
			color: red;
			text-align: center;
		}
	}

	&-settings	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
		align-items: center;
		margin-bottom: 4px;

		&__count {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			text-align: center;

			i {
				align-self: center;

				&:hover {
					@include forms.input-glow-red;
					cursor: pointer;
				}
			}
		}

		&__toggle {
			display: flex;
			padding-left: 4px;
		}
	}

	.wounded,
	.unwounded {
		font-size: 28px;
		text-shadow: 2px 2px black;

	}

	.wounded {
		color: red;

		&:hover {
			@include forms.input-glow-black;
			cursor: pointer;
		}
	}

	.unwounded {
		color: white;

		&:hover {
			@include forms.input-glow-red;
			cursor: pointer;
		}
	}
}
