@use "../../globals";
@use "../../mixins/layout";

.conan2d20.actor.npc.character-sheet {
	scrollbar-gutter: stable both-edges;

	section.window-content {
		@include layout.p-reset;
		display: block;
		overflow: auto;
		scrollbar-gutter: stable both-edges;
		scrollbar-width: thin;
	}

}

.npc-sheet {
	input[type=number],
	select {
		text-align: center;
	}

	.editor {
		min-height: 520px;
	}

	&__body {
		@include layout.p-reset;
		margin-left: 4px;
		margin-right: 4px;
		grid-area: content;
		position: relative;
	}

	&-field__label {
		@include layout.p-reset;

		background: globals.$primary-color;
		color: white;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 4px;

		text-align: center;

		h4 {
			margin-bottom: 0px;
		}
	}

	&-field__value {
		color: white;
		width: 100%;
	}

}

.npc-sheet-sub-heading {
	display: flex;
	color: white;
	background: black;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3px;

	h3 {
		@include layout.p-reset;
		flex: auto;
		border: none;
	}

	.item-controls a {
		margin-right: 4px;
	}
}
