@use "sass:meta";
@use "../../globals";
@use "../../mixins/forms";
@use "../../mixins/layout";

$window-p-right: 20px;

.stowage {
	height: calc(100% - 40px);

	.stowage-list {
		@include layout.scrollbar;

		align-items: center;
		justify-content: flex-start;
		position: relative;
		overflow-y: scroll;
		height: calc(100% - 42px);
		padding-left: 6px;
		padding-top: 6px;

		list-style: none;
		mask-image: linear-gradient(180deg,
				rgba(white, 1) 0%,
				rgba(white, 1) 1%,
				rgba(white, 1) 98%,
				rgba(white, 0) 100%);

		@include meta.load-css('../../imports/pc-sheet-list-header');
		@include meta.load-css('../../imports/item-lists');

		h3,
		h4 {
			@include layout.p-reset;
		}

		h3 {
			font-size: 14px;
			line-height: 1;
			color: #c0c0c0;
			border: none;
			flex: auto;

			&:hover {
				color: white;
				cursor: pointer;
			}
		}

		h4 {
			font-size: 14px;
		}

		.item-table {
			@include layout.p-reset;
			margin-left: 4px;
			margin-right: 4px;
			padding-left: 4px;
			padding-right: 4px;
		}

		.item-property {
			&-1 {
				flex: 0 0 65px;
			}

			&-2 {
				flex: 0 0 75px;
			}

			&__header {
				@include globals.micro;
				@include layout.flex-center;
				margin-right: 3px;

				font-size: 9px;
				font-family: 'Gelasio', 'Signika', Georgia, serif;

				color: #c0c0c0;
			}
		}

		.item-name {
			flex: 2;
		}
	}

	ol {
		@include layout.p-reset;
		list-style: none;
		display: flex;

		&:last-child {
			margin-bottom: 42px;
		}
	}

	.item-quantity,
	.item-weight,
	.item-controls {
		@include layout.flex-center;
	}

	.item-quantity {
		flex: 0 0 60px;
		font-family: globals.$sans-serif;

		.item-decrease-quantity,
		.item-decrease-uses,
		.item-increase-quantity,
		.item-increase-uses,
		.mount-increase-pass,
		.mount-decrease-pass {
			height: 100%;
			width: 18px;
			text-align: center;
			@include layout.flex-center;

			&:hover {
				@include forms.input-glow;
				color: white;
				cursor: pointer;
			}
		}

		.exceeded-max {
			color: red;
		}
	}

	.item-weight {
		flex: 0 0 60px;

		.exceeded-max {
			color: red;
		}
	}

	.item-controls {
		flex: 0 0 65px;
		justify-content: flex-end;

		.item-control {
			margin-right: 4px;
			font-size: 14px;

			&.item-stowage-view,
			&.item-toggle-equip {
				color: rgba(black, 0.4);

				&.active {
					color: var(--secondary);

					&:hover {
						@include forms.input-glow;
						color: white;
						cursor: pointer;
					}
				}
			}

			&.item-toggle-broken {
				color: rgba(black, 0.4);

				&.active {
					color: red;

					&:hover {
						@include forms.input-glow;
						color: white;
						cursor: pointer;
					}
				}
			}

			&:hover {
				@include forms.input-glow;
				color: white;
				cursor: pointer;
			}
		}
	}

}
