.npc-type-grid {
	display: grid;
	grid-template-columns: 115px 1fr 1fr;
	column-gap: 18px;
	row-gap: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;

	&.readonly {
		align-items: center;
	}
}

.npc-type-select {
	margin-left: 4px;
	margin-top: 4px;
}

.npc-sheet__portrait {
	align-self: center;
	border: none;
	width: 115px;
	height: 115px;
	cursor: pointer;
	grid-row: span 2;
}
