@use "../mixins/forms";
@use "../mixins/layout";

/* ----------------------------------------- */
/*  Item Sheet Structure
/* ----------------------------------------- */
.character-upgrade {

	a {
		font-weight: bold;
		font-size: var(--font-size-16);
	}

	form {
		@include layout.p-reset;
		padding: 4px;

		background: url(../assets/parchment.jpg);
		background-attachment: local;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.can-upgrade:hover {
			color: gold;
			text-shadow: 1px 1px 1px black;
		}

		.available-xp {
			@include layout.p-reset;
			margin-top: 8px;
			margin-bottom: 8px;
			font-size: 0.8rem;
			line-height: 1.5;
			background-color: var(--background-highlight);
			text-align: center;
			font-weight: bold;
		}

		.available-xp-total {
			color: darkred;
		}

		.sheet-header {
			border-bottom: 1px solid var(--secondary-background);
			flex: 0 0 70px;
			width: 100%;
			padding-bottom: 6px;

			h1 {
				font-family: CrushYourEnemies;
			}

			input[type=text] {
				text-overflow: ellipsis;
			}

			img {
				flex: 0 0 64px;
				margin: 4px;
			}
		}

		.sheet-content {
			display: grid;
		}

		.sheet-body {
			flex: 2;
			height: 350px;
		}

		.tab[data-tab] {
			display: none;
			&.active {
				display: initial;
			}
		}

		.tab[data-tab].active {
			display: initial;
		}

		.tab[data-tab='description'] {
			height: 100%;
		}

		.sheet-tabs {
			border-bottom: 1px solid var(--secondary-background);
			margin: 0px;

			a {
				color: black;
				font-family: Norsebold;
				font-size: 26px;
				padding: 1px 0;

				&.active {
					@include forms.input-glow-red;
					text-decoration: underline;
				}

				&:hover {
					@include forms.input-glow-red;
					background-color: transparent;
					cursor: pointer;
				}
			}
		}

		.uuid-link {
			width: calc(100% - 8px);
			margin: 4px;
			font-size: var(--font-size-14);
		}

		.fake-uuid-link {
			background: #DDD;
			padding: 1px 4px;
			border: 1px solid var(--color-border-dark-tertiary);
			margin: 4px;
			border-radius: 2px;
			white-space: nowrap;
			word-break: break-all;
			font-size: var(--font-size-14);

			&:hover {
				cursor: auto;
				text-shadow: none;
			}
		}

		.improvement-attribute-grid {
			display: grid;
			grid-template-columns: 60px 80px min-content;
			column-gap: 4px;
			justify-self: center;
		}

		.improvement-skill-grid {
			display: grid;
			grid-template-columns: 60px 80px min-content;
			column-gap: 4px;
			justify-self: center;
		}

		table {
			background: none;
			border: none;
			font-size: 14px;

			td,
			th {
				text-align: center;
				padding-left: 16px;
				padding-right: 16px;
			}

			th {
				font-size: 16px;
			}

			.item-row:hover {
				background: rgba(0, 0, 0, 0.10);
			}
		}
	}
}

.form > * {
	flex: 1;
}

.form .sheet-content > * {
	flex: 1;
}
.form .sheet-sidebar > * {
	flex: 1;
}
