@use "../mixins/forms";
@use "../mixins/layout";

.character-creator {
	a {
		font-weight: bold;
		font-size: var(--font-size-16);
	}

	form {
		background: url(../assets/parchment.jpg);
		background-attachment: local;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.form-group {
			@include layout.p-reset;
			display: grid;
			row-gap: 16px;

			padding: 4px;
			align-self: baseline;

			input:focus {
				border-bottom: 1px solid #644f33;
			}

			input[type=checkbox] {
				vertical-align: middle;
				position: relative;
				bottom: 1px;
			}

			input[type=number] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				padding: 3px;
			}

			input[type=text] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #aaa;
				padding: 3px;
			}

			input::placeholder {
				color: var(--primary);
				font-style: italic;
				opacity: 0.4;
			}

			label {
				display: block;
				padding: 0;
				margin: 0 0 0.25rem;
				font-weight: 600;
				font-size: 1.25em;
				border-bottom: 1px solid var(--color-underline-header);
			}

			.item {
				width: calc(100% - 8px);
			}

			.setting-grid {
				display: grid;
				row-gap: 16px;
				column-gap: 8px;
			}

			.uuid-link {
				width: calc(100% - 8px);
				margin: 4px;
				font-size: var(--font-size-14);
			}

			.fake-uuid-link {
				background: #DDD;
				padding: 1px 4px;
				border: 1px solid var(--color-border-dark-tertiary);
				margin: 4px;
				border-radius: 2px;
				white-space: nowrap;
				word-break: break-all;
				font-size: var(--font-size-14);

				&:hover {
					cursor: auto;
					text-shadow: none;
				}
			}

			.delete-choice {
				color: darkred;

				&:hover {
					@include forms.input-glow-red;
					background-color: transparent;
					cursor: pointer;
				}
			}
		}
	}

	.create-character-button {
		&.enabled {
			background-color: darkgreen;
			color: white;
		}

		&.disabled {
			background-color: darkred;
			color: white;
		}

	}

	.sheet-body {
		h1 {
			font-family: 'Norsebold';
			border-bottom: none;
			line-height: 1.2;
			font-size: 2.25em;
		}
	}

	.item-row:hover {
		background: rgba(0, 0, 0, 0.10);
	}

	&-grid {
		@include layout.p-reset;
		padding: 4px;

		display: grid;
		grid-template-columns: max-content 1fr 260px;

		gap: 8px;
	}

	.errors {
		color: red;
	}

	.sheet-navigation,
	.sidebar {
		background: rgba(0, 0, 0, 0.05);
		padding: 4px;
	}

	.skills-preview,
	.talents-preview {
		font-size: 12px;
	}

	.starting-attributes {
		display: grid;
		grid-template-columns: 120px;
		row-gap: 4px;
	}
}
