@use "../mixins/forms";
@use "../mixins/frames";

.conan-counter {

	background: url('../assets/sheet/attribute-block-header.png');
	width: 400px;
	position: absolute;
	bottom: 66px;
	left: 258px;
	display: flex;
	color: #c0c0c0;
	@include frames.inset-gold-border;
	font-family: 'Norse';
	font-size: 22px;
	z-index: 29;

	h3 {
		border-bottom: none;
		margin: 0;
	}
}

.conan-counter > div {
	text-align: center;
	margin: 5px;
	display: flex;
}

.vr {
	width: 100%;
	color: #e4d6a4;
	filter: invert(0.22) brightness(0.8) sepia(1) saturate(1.1) contrast(1.5);
	background-image: url('../assets/icons/phoenix-sigil.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}

.conan-counter .input-controls {
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	margin-top: 3px;
	text-align: center;

	input:hover {
		@include forms.input-glow-brown;
	}

	input[type='number'] {
		font-family: Norsebold;
		font-size: 1em;
		border: transparent;
		width: 45px;
		text-align: center;
		background: #d2d1c8;
		box-shadow: inset 0 0 5px #000000;
		-moz-appearance: textfield;
	}

	.input-doom {
		color: darkred;
		text-shadow: 0px 0px 1px red;
	}

	.input-momentum {
		color: darkgreen;
		text-shadow: 0px 0px 1px green;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.conan-counter .input-controls > * {
	margin-left: 5px;
	margin-right: 5px;
}
