a.conan-skill-test {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

a.conan-skill-test i {
  color: var(--color-text-dark-inactive);
  margin-right: 0.25em;
}
