$conan-icon-font: "conan-icon";

@font-face {
	font-family: '#{$conan-icon-font}';
	src: url('../fonts/#{$conan-icon-font}.eot');
	src: url('../fonts/#{$conan-icon-font}.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/#{$conan-icon-font}.woff') format('woff'),
		 url('../fonts/#{$conan-icon-font}.ttf') format('truetype'),
		 url('../fonts/#{$conan-icon-font}.svg##{$conan-icon-font}') format('svg');
	font-weight: normal;
	font-style: normal;
}

.phoenix-sigil {
	display: inline-block;
	font-family: '#{$conan-icon-font}';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before{
		content:'\0041';
	}
}
