@use "globals" as *;

.system-conan2d20 .sheet.journal-entry .journal-entry-content {
	background: url(../assets/journal/journal-bg.webp);
};

.system-conan2d20 .journal-sheet .journal-header input[type="text"] {
	// background: none;
	border: none;
	border-radius: 0;
}

// .system-conan2d20 .journal-sheet .journal-header .title {
// 	font-family: $serif;
// 	font-weight: bold;
// 	background: $primary-color;
// 	color: $journal-h1-color;
// 	font-size: 2.2em;
// 	text-transform: uppercase;
// }

.system-conan2d20 .sheet.journal-entry .journal-entry-page {
	font-family: $serif;

	aside {
		border: none;
		padding: 8px;
		margin: 16px;
		margin-bottom: 26px;
		color: $journal-h1-color;

		background-color: rgb(109, 112, 69);

		.aside-heading,
		.aside-subheading {
			font-family: $serif;
			color: $journal-h1-color;
			text-align: center;
			font-size: 1.4em;
			font-weight: bold;
			text-transform: uppercase;
			border: none;
			margin: 0 0 0.5rem;
			padding: 0;
		}

		.aside-subheading {
			text-transform: none;
		}

		.content-link {
			color: black;
		}

		h1, h2, h3, h4, h5 {
			color: $journal-h1-color;
			background-color: unset;
			text-align: center;
		}
	}

	blockquote,
	.book-quote {
		border: none;
		background-color: rgb(214, 214, 198);
		padding: 8px;
		margin: 16px;

		p {
			font-size: 1.15em;
			font-style: italic;
		}

	}

	.book-quote {
		text-align: center;
		color: white;
		background-color: rgb(120, 83, 64);
	}

	h1, h2, h3, h4, h5 {
		font-family: $serif;
		font-weight: bold;
		text-transform: uppercase;
		color: $primary-color;
		border: none;
		margin: 0 0 0.5rem;
		text-align: center;
		padding: 0;
	}

	h1, h2 {
		font-size: 1.8em;
	}

	h1 {
		background: $primary-color;
		color: $journal-h1-color;
	}

	h2 {
		text-decoration: underline;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
		text-transform: none;
	}

	h5 {
		font-size: 1.2em;
	}

	img {
		border: none;
	}

	ol {
		list-style-type: decimal;

		ol {
			list-style-type: lower-alpha;
		}

	}

	p {
		font-style: normal;
		font-size: 1.1em;
	}

	section {
		.reveal {
			float: right;
		}

		.secret {
			background: rgba(125, 28, 28, 0.1);
			border: 3px solid;
			padding: 4px;
			border-color: rgba(125, 28, 28, 0.4);
			border-radius: 8px;
			// padding: 8px;
			margin: 16px;

			p {
				font-size: 1.2em;
			}
		}

		.revealed {
			border-color: rgb(28, 125, 34, 0.4);
			background: rgba(28, 125, 34, 0.1);
		}
	}

	table {
		border: none;
		margin-bottom: 1em;
		margin-top: 1em;

		caption {
			text-align: center;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 1.8;
			color: white;
			background: black;
			text-transform: uppercase;
		}

		tbody {
			tr:nth-child(even) {
				background-color: rgb(225, 225, 213);
			}

			tr:nth-child(odd) {
				background-color: rgb(214, 214, 198);
			}

			tr:first-child {
				background: rgb(111, 115, 66);
				color: $journal-h1-color;;
				font-weight: bold;
			}
		}

		td,
		th {
			padding-left: 6px;
			padding-right: 6px;
			text-align: unset;

			p {
				margin: 0;
				font-style: normal;
				font-size: 1.1em;
			}
		}
	}

	ul {
		list-style-type: square;
	}

}
