@use "../mixins/forms";
@use "../mixins/layout";

.quantity-grid {
	@include layout.p-reset;
	display: grid;
	grid-template-columns: 1fr 24px;

	.quantity-header {
		background-color: var(--secondary);
		color: white;
		grid-column: span 2;
		text-align: center;
		text-transform: uppercase;
	}

	.quantity-subheader {
		background-color: var(--primary);
		color: white;
		font-size: 10px;
		grid-column: span 2;
		text-align: center;
		text-transform: uppercase;
	}

	input {
		grid-row: span 2;
		line-height: 1.65;
		font-size: 32px;
		margin-left: 4px;
	}

	input:disabled {
		color: unset;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	input[type=number]
	{
		height: 42px;
		text-align: center;
	}

	.quantity-up,
	.quantity-down {
		color: var(--primary);
		text-align: center;
		font-size: 18px;

		&:hover {
			@include forms.input-glow;
			color: var(--secondary);
			cursor: pointer;
		}
	}

}

.quantity-grid.disable {
	opacity: 0.40;
	pointer-events: none;
}
