@use "../mixins/forms";
@use "../mixins/layout";

.skill-roller {
	margin: 4px;

	.dice {
        background-repeat: no-repeat;
        background-size: 48px;
        color: white;
		cursor: pointer;
        float: left;
        font-family: Norse;
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        text-align: center;
        text-shadow: 2px 2px black;
        width: 48px;
		margin-left: 5px;

		&:hover {
			@include forms.input-glow;
			color: white;
			cursor: pointer;
		}
	}

	.dice.fortune {
		background-image: url("../assets/icons/dice/d20-critical.svg");
	}

	.dice.selected {
		background-image: url('../assets/icons/dice/d20-success.svg');
	}

	.dice.unselected {
		background-image: url('../assets/icons/dice/d20-fail.svg');
		opacity: 0.40;

		&:hover {
			opacity: 0.60;
		}
	}

	.difficulty {
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&.active {
			color: red;
		}

		&.button {
			border-radius: 15px;
			font-weight: 600;
		}
	}

	.difficulty-complication-row {
		@include layout.p-reset;
		display: grid;
		column-gap: 4px;
		margin-left: 4px;
		margin-right: 4px;
		grid-template-columns: 1fr 110px;
		align-items: center;
	}

	.difficulty-increased {
		text-align: center;
		color: red;
		font-size: small;
		font-weight: 500;
	}

	.disable-entry {
		opacity: 0.40;
		pointer-events: none;
	}

	.form-group {
		@include layout.p-reset;
		padding: 4px;
		align-self: baseline;

		input:focus {
			border-bottom: 1px solid #644f33;
		}

		input[type=checkbox] {
			vertical-align: middle;
			position: relative;
			bottom: 1px;
		}

		label {
			font-weight: bold;
			font-size: x-small;
			display: block;
		}
	}

	.label {
		background-color: #40450a;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	.skill-selectors {
		margin: 0;
		padding: 0;
	}

	.test-details {
		text-align: center;
		color: white;
		background-color: #40450a;
		line-height: 22px;
	}
}
