.skill-roll-reqeust {
	margin: 4px;

	.skill-roll-request-content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 4px;
	}

	.request-controls {
		grid-column: span 2;
	}

	.skill-roll-difficulty {
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&.active {
			color: red;
		}

		&.button {
			margin-top: 4px;
			border-radius: 15px;
			font-weight: 600;
		}
	}

	.label {
		background-color: #40450a;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	.skill-selectors {
		margin: 0;
		padding: 0;
	}
}
