@use "../mixins/forms";
@use "../mixins/layout";

.talent-requirement-editor {
	margin: 4px;

	form {
		background: url(../assets/parchment.jpg);
		background-attachment: local;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.form-group {
			@include layout.p-reset;
			padding: 4px;
			align-self: baseline;

			input:focus {
				border-bottom: 1px solid #644f33;
			}

			input[type=checkbox] {
				vertical-align: middle;
				position: relative;
				bottom: 1px;
			}

			input[type=number] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				padding: 3px;
			}

			input[type=text] {
				width: calc(100% - 8px);
				min-width: 20px;
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #aaa;
				padding: 3px;
			}

			input::placeholder {
				color: var(--primary);
				font-style: italic;
				opacity: 0.4;
			}

			label {
				font-weight: bold;
				display: block;
			}

			.setting-grid {
				display: grid;
				grid-template-columns: minmax(min-content, max-content) 3fr;
				row-gap: 8px;
				column-gap: 8px;
			}
		}
	}

	.uuid-link {
		margin: 4px;
	}

	.talent-group {
		display: grid;
		grid-template-columns: 1fr min-content min-content;
		column-gap: 8px;
		row-gap: 8px;
		padding: 4px
	}

	.delete-talent {
		color: darkred;

		&:hover {
			@include forms.input-glow-red;
			background-color: transparent;
			cursor: pointer;
		}
	}

	.requirement-save-button {
		@include layout.p-reset;
		position: absolute;
		right: 4px;
		bottom: 4px;
		width: calc(100% - 8px);
	}
}
