.conan2d20.sheet {
	.window-content {
		background: url('../assets/parchment.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-border-image-repeat: stretch;
		border-image-repeat: stretch;
	}
}
