@use "sass:meta";
@use "../../mixins/pc-sheet-tab";

.talents {
	.talents-list {
		@include pc-sheet-tab.pc-sheet-tab;
		@include meta.load-css('../../imports/pc-sheet-list-header');
		@include meta.load-css('../../imports/item-lists');

		.talent-totals {
			display: block;
			margin: 0;
			font-size: 9px;

			span {
				font-size: 9px;
			}
		}
	}
}
